.note {
  background-color: white;
  border-radius: 5px;
}

.note--container {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.note__title {
  display: inline-block;
  width: 95%;
}

.note__index a {
  text-decoration: none;
  color: #555555;
}

.note__index a:hover {
  font-style: italic;
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

.note__action__delete {
  cursor: pointer;
}
.note__action__delete:hover {
  color: red;
}

.note__action__save {
  cursor: pointer;
}
.note__action__save:hover {
  color: cornflowerblue;
}

.note__title__input {
  border: none !important;
  outline: none;
  width: 100%;
}

.note__title__input--editing {
  border: none !important;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.note__description {
  border: none !important;
  outline: none;
  width: 100%;
  resize: none;
}

.note__description--editing {
  border: none !important;
  border-radius: 3px;
  outline: none;
  width: 100%;
  resize: none;
}

.notes__list--empty {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
